* {
margin: 0;
padding: 0;
}

body{
    background-image: url("imagens/Floresta.jpg");
}

.tela{
border: 1px solid rgb(34, 97, 4);
height: 820px;
width: 100%;
position: relative;
overflow: hidden;
}

.pulo {
    animation: aniPer 500ms ease-out;
}

.Cano{
    position: absolute;
    width: 80px;
    bottom: 0;

    animation: anicano 4s infinite linear;
}

.Mário{
    position: absolute;
    width: 120px;
    bottom: 0;
    left: 100px;
}

.Nuvem{
    position: absolute;
    width: 600px;
    bottom: 10;
    height: 280px;
    animation: aninuvem 9s infinite linear;
}

@keyframes anicano{
 from{
     right: -100px;
 }
 to {
     right: 1900px;
 }
}

@keyframes aninuvem{
    from{
        right: -700px;
    }
    to {
        right: 1920px;
    }
}
@keyframes aniPer {
    0% { bottom: 0; }
    40% { bottom: 300px; }
    50% { bottom: 300px; }
    60% { bottom: 300px; }
    100% { bottom: 0px; }
}
#centro {
    width: 50%;
    height: 120px;
    text-align: center;
    line-height: 50px;
    background-color: rgba(10,23,55,0.7);
    color: white;
    z-index: 10;

    position: absolute;
    top: 50%;
    left: 200px;
}